*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    background-color:pink;
    
   
}

/* Main container for main container*/
#main-container{
    background-color:white;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner */
#top-banner{
    background-color: grey;
    padding-top: 4%;
    width: 100%;
   
}
/* Header */
#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11%;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
}

/* Container for the projects */
#projects-container{
    display: flex;
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    background-color:white;
    
}

/* Button to open the "new project modal" */
#open-modal-btn{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-left: 9%;
    margin-top: 1%;
    width: 50%;
    background-color: white;
}

#open-modal-btn:after{
    content: '';
    position: absolute;
    left: 9%;
    display: inline-block;
    height: 1em;
    width: 14%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
#open-modal-btn:hover:after {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Contains the common css for projects */
.div-common{
    width: 25%;
    height: 40%; 
    margin: 2%;
    border-radius: 15px;
    cursor: pointer;
}
.div-common:hover{
    border: 1px solid black;
}
/* Contains the common css for text on project box */
.div-common p{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
/* Flexbox of modal that makes new projects */
#new-project-modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
    
}
/* Main box of modal that makes new projects */
#modal-content{
    background-color: white;
    width: 20%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
/* CSS for text, input boxes and button on modal */
#modal-content p{
    margin-left: 80%;
}
#modal-content p:hover{
    cursor: pointer;
}
#modal-content button{
    margin-top: 4%;
    height: 13%;
    width: 40%;
    
    background-color: grey;
}

#modal-content button:hover{
    border: 4px black dotted;
    cursor: pointer;
}

.modal-input{
    width: 40%;
    padding: 1em;
    border: black solid 0.5px;
}

.modal-input:hover{
    background-color:#F2F2F2;
    cursor: text;
    
}

/* Modal that pops up when amount of projects=0 */
#no-project-modal{
    position: absolute;
    top:0;
    bottom: 0;
    display: flex;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;

}

#no-proj-txt-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 50%;
    margin-top: 16%;
}

#no-project-txt{
    position: absolute;
    width: 30%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
    background-color: white;
    padding: 20px;
    text-align: center;
    
}

#notes-pic{
    position: relative;
    height: 100%;
    width: 100%;
}

#no-proj-txt2-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    margin-right: 18%;
    animation: move-txt 0.7s infinite alternate-reverse;
}

#no-project-txt2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: teal;
}

@keyframes move-txt{
    from {margin-left: 0%;}
    to {margin-left: 2%;}
}

/* For mobile format */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    *{
        box-sizing: border-box;
    }
    /* Makes projects shorter for mobile format */
    .div-common{
        height: 20%;
    }
    #main-container {
        min-width: 100%;
        width: 100%;
    }
    
    /* Modal input and button re-sizing */
    #open-modal-btn{
        width: inherit;
        padding-right: 30px;
        font-size: 80px;
    }
    .open-modal-btn-container{
        display: flex;
        justify-content: center;
    }
    #modal-content{
        width: 80%;
        height: 80%;
    }
    label{
        font-size: 40px;
    }
    #create-project-btn{
        font-size: 30px;
    }
    h2{
        font-size: 45px;
    }
    #modal-name-input{
        height: 4%;
        width: 50%;
        font-size: 30px;
    }
    #modal-date-input{
        height: 4%;
        width: 50%;
        font-size: 30px;
    }
    #modal-date-end-input{
        height: 4%;
        width: 50%;
        font-size: 30px;
    }
    /* Picture on start page */
    #notes-pic{
        width: 170%;
    }
    /* Hides text */
    #no-project-txt2{
        display: none;
    }
}


