*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7ec586;
}

/*Container for header,top text */
#container {
    background-color:white;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner */
#top-banner{
    background-color: grey;
    padding-top: 4%;
    width: 100%;
}
/* Top text */
#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11%;
    width: 100%;
    margin-bottom: 2%;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color:purple;
}

/* Calender and team members */
#calender{
    display: flex;
    height: 40%;
    width: 90%;
    background-color:pink;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;

}
#calender-line{
    background-color: black;
   
}

#list-flexbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: rosybrown;
}

#to-do-list{
    display: flex;
    height: 90%;
    width: 40%;
    flex-direction: column;
    background-color: #c895c8;
}

#to-do-list-tasks{
    display: flex;
    height: 90%;
    width: 40%;
    flex-direction: column;
    background-color:purple;
    overflow: scroll;
}

#to-do-list button{
    width: 10%;
    height: 10%;
}


/* Project members green */
#project-members{
    display: flex;
    height: 90%;
    width: 40%;
    background-color: red;
    overflow: scroll;
}

/* Modal Section */
#add-participant-modal {
    display: none;
    background-color: rebeccapurple;
    width: 20%;
    height: 20%;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
form label, p {
    color: white;
}
#addTodoModal {
    display: none;
    background-color: grey;
    width: 20%;
    height: 20%;
}


/* Color indicators and importance level */
.less-important-radio {
    background-color: green;
}
.important-radio {
    background-color: yellow;
}
.very-important-radio {
    background-color: red;
}
.radio-div {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

#importance-lvl{
    height: 15%;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Very important */
#very-important{
    width: 20px;
    border-radius: 50%;
    background-color: #f51e1e;
}
#very-important-txt{

    font-family: monospace;
    
}

/* Important */
#important{
    width: 20px;
    border-radius: 50%;
    background-color: #f5d364;
}
#important-txt{
   
    font-family: monospace;
    
}

/* Less important */
#less-important{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #8eed96;
}
#less-important-txt{
    
    font-family: monospace;
    
}
/* Task Section */
.task-p-class {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-block;
}

.test {
    border: 2px solid black;
    padding: 5%;
    width: 30px;
    height: 30px;
}
#calender-table {
    border-collapse: collapse;
    table-layout: auto;
    width: 40%;
}
