*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7ec586;
}

/*Container for header,top text */
#container {
    background-color:white;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Banner */
#top-banner{
    background-color: grey;
    padding-top: 4%;
    width: 100%;
}
/* Top text */
#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1%;
}

/* Calender and team members */
#calender{
    display: flex;
    height: 35%;
    width: 90%;
    background-color: gainsboro;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;


}
#calender-line{
    background-color: black;
   
}

#list-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 20%;
    margin-bottom: 30px;

}

.common-listbox-prop{
    display: flex;
    height: 100%;
    width: 47%;
    overflow: scroll;
    justify-content: space-between;  
}

.common-list-prop{
    display: flex;
    height: 90%;
    width: 80%;
    flex-direction: column;
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
}

#to-do-list{
    background-color:#FFB7B2;
}

#to-do-list-tasks{
    background-color: #FFB7B2;
}

#to-do-list button{
    width: 20%;
    height: 10%;
    margin-right: 6%;
    background-color: #FFB7B2;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: end;

}


/* Project members green */
#project-members{
    background-color:#E2F0CB;
}

#project-members-memb{
    background-color: #E2F0CB;
}
#project-members button{
    width: 20%;
    height: 10%;
    margin-right: 3%;
    text-align: end;
    background-color: #E2F0CB;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Modal Section */
#add-participant-modal {
    display: none;
    background-color: rebeccapurple;
    width: 20%;
    height: 20%;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
form label, p {
    color: white;
}
#addTodoModal {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

.modal-content-design{
    background-color: white;
    width: 20%;
    height: 35%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.modal-content-design form{
    display: flex;
    height: 90%;
    width: 100%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

.modal-content-design p{
    margin-left: 80%;
    margin-top: 4%;
    color: black;
    background-color: rosybrown;
}
.modal-content-design label{
    color: black;
}

.modal-content-design button{
    background-color: rosybrown;
}

.modal-content-design input{
    border: 1px solid black;
}




/* Color indicators and importance level */
.less-important-radio {
    background-color: green;
}
.important-radio {
    background-color: yellow;
}
.very-important-radio {
    background-color: red;
}
.radio-div {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

#importance-lvl{
    height: 12%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

#color-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

#color-txt-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 100px;
    flex-direction: column;
    height: 70%;
}

#color-txt-box p{
    font-family: 'Montserrat', sans-serif;
}
.importance-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}



.level-of-important{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Very important */
#very-important-color{
    background-color: #f51e1e;
}
#very-important-txt{
    font-family: monospace;
    color:black;
    
}

/* Important */
#important-color{
    background-color: #f5d364;
}
#important-txt{
    font-family: monospace;
    color:black;
}

/* Less important */
#less-important-color{
    background-color: #8eed96;
}
#less-important-txt{
    font-family: monospace;
    color:black;
}
/* Task Section */
.task-p-class {
    width: 20px;
    height: 20px;
    padding: 10px;
    display: inline-block;
}

.test {
    border: 2px solid black;
    width: auto;
    height: 50px;
}
#calender-table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    height:100%;
}
