*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: grey;
}

/*Container for header,top text */
#container {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Top text */
#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1%;
}


#list-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
    margin-bottom: 30px;
}

p{
    word-wrap: break-word;
}

.task-row {
    flex: 1;
}

.common-listbox-prop{
    display: flex;
    height: 100%;
    width: 47%;
    overflow: scroll;
    justify-content: space-around;
}

.common-list-prop > .task-p-class {
    flex-shrink: 0;
}

.common-list-prop{
    display: flex;
    height: 100%;
    width: 80%;
    
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#to-do-list{
    background-color:#D3D3D3;
}

#to-do-list-tasks > .task-p-class{
    display: flex;
    width: 90%;
    height: 20%;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between; 
}

#to-do-list-tasks > .task-p-class >p{
    color: black;
    margin-left: 10%;
}

#to-do-list-tasks > .task-p-class >h2{
    color: black;
    margin-right:10%;
    }

#to-do-list button{
    width: 20%;
    height: 10%;
    margin-right: 6%;
    background-color:#D3D3D3;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: end;
}

/* Project members green */
#project-members{
    background-color: #D3D3D3;
}

#project-members-memb{
    background-color: #D3D3D3;
}

#project-members-memb > div{
    padding: 10px;    
}

th {
    flex-shrink: 10;
    min-width: 175px;
}

#project-members-memb > div > p {
    color: black;
}

#project-members button{
    width: 20%;
    height: 10%;
    margin-right: 6%;
    text-align: end;
    background-color: #D3D3D3;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Buttons that opens new project/member modal */
.add-participant-btn, .add-todo-btn {
    font-weight: 900;
    font-size: 1rem;
}

/* Modal that adds new tasks and new member*/
#addTodoModal, #add-participant-modal {
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

/* Modal content design of both*/
.modal-content-design{
    background-color: white;
    width: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

/* The X button on the modals  */
.modal-content-design p{
    margin-left: 90%;
    margin-top: 3%;
    color: black;
    cursor: pointer;
}

/* The form on both modals */
.modal-content-design form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

/* extra styling for to-do modal*/
#modal-todo-content form{
    margin-top: 10%;
}

#modal-todo-content label{
    color: black;
    font-size: 25px;
    margin: 0px;
}

#modal-participant-content label{
    color: black;
    font-size: 15px;
    margin: 0px; 
}

#submit-member-btn{
    width: 50%;
    height: 15%;
    background-color: grey;
    cursor: pointer;
}

#submit-task-btn{
    width: 50%;
    height: 15%;
    background-color: grey;
    cursor: pointer;
    margin-top: 10%;
}

#task-modal-input{
    border: 1px solid black;
    height: 15%;
    width: 60%;
    cursor: text;
    margin-bottom: 10px;
}

#modal-participant-content input{
    border: 1px solid black;
    height: 10%;
    cursor: text;
}


/* Browser Styling */
.common-list-prop::-webkit-scrollbar, .common-listbox-prop::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .common-list-prop, .common-listbox-prop {
    -ms-overflow-style: none;
  }

/* Color indicators and importance level */
.less-important-radio {
    background-color: #E2F0CB;
}

.important-radio {
    background-color: #fffcbb;
}

.very-important-radio {
    background-color:#FFB7B2;
}

.radio-div {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#colors{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

#importance-lvl{
    height: 12%;
    width: 90%;
    display: flex;
    justify-content: center;
    padding-left: 8%;
}

#importance-lvl p{ 
   padding-right: 10%;
   padding-left: 1%;
}

#color-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 90%;
}

/* Colors at bottom showing importancy */



.importance-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Very important */
#very-important-color{
    background-color: #FFB7B2;
}

/* Important */
#important-color{
    background-color: #fffcbb;
}


/* Less important */
#less-important-color{
    background-color: #E2F0CB;
}

/*done */
#done-color{
    background-color: grey;
}



/* CALENDER START */

#calender{
    display: flex;
    height: 35%;
    width: 90%;
    background-color:#EBECF0;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
}

tbody > tr {
    height: inherit;
    flex: 1;
}

th {
    border: 0.1px solid black;
    border-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#newId {
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid black;
}
.task-container {
    flex: 1;
}
.task-p-class {
    width: 30%;
    height: 100%;
    border: 1px solid grey;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: black;
    font-weight: 900;  
}

th .task-p-class {
    border-radius: 0px;
    margin: 0;
}

#days-header th {
    height: 100%;
}

.task-th{
    flex: 1;
}

#calender-table {
    table-layout: fixed;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    overflow-x: scroll; 
}

tbody:nth-child(n+2) > * {
    height: inherit;
}

#calender-table > tbody:nth-child(n+2){
    flex: 1;    
}

.calender-name-container{
    display: flex;
}

.name-column {
    width: 100px;
    background-color:#D3D3D3;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
}

.calender-name-container > .name-column {
    flex: none;
}

#days-header{
    display: flex;
    height: 100%;
    width: 100%;
}

tbody{
    height: 100%;
    width: 100%;
    flex: 1;
}   
/* CALENDER END */

/* Mobilversjon */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
     #to-do-list button{
        font-size: 20px;
    }
    
    #project-members button{
        font-size: 20px;
    }
    
    /* Makes modals stack like columns */
    #list-flexbox{
        display: flex;
        flex-direction: column;
    }
    .common-listbox-prop{
        height: 55%;
        width: 90%;
        margin: 2%;
        font-size: 30px;
    }
    
    /* modal todo content */
    
    #modal-todo-content{
        width: 90%;
    }
    #submit-task-btn{
        height: 20%;
        width: 20%;
        font-size: 30px;
        margin-top: 10%;
    }
    .radio-div{
        height: 50px;
        width: 50px;
    }
    #colors{
        margin-top: 5%;
    }
    
    #task-modal-input{
        width: 40%;
        font-size: 35px;
    }
    
    /* Participent modal */
    
    #modal-participant-content{
        width: 90%;
    }
    #submit-member-btn{
        font-size: 40px;
        margin-top: 5%;
    }
    input{
        width: 40%;
        height: 7%;
    }
    #task-modal-input{
        height: 7%;
        width: 40%;
    }

    form{
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    a{
        font-size: 30px;
    }
    th{
        font-size: 30px;
    }
}
