*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    border: none;
}
a {
    text-decoration: none;
    color: black;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7ec586;

}
.task-container {
    flex: 1;
    height: 100%;
    flex-direction: row;
}
.task-row {
    
}

th {
    border: 0.1px solid black;
    border-spacing: 0px;
    background-color: white;
}
#newId {
    width: 100%;
    height: 100%;
    text-align: center;
    align-self: center;
    margin-bottom: 1px;
    border: 1px solid black;
}

/*Container for header,top text */
#container {
    background-color:#dedede;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
tbody > tr {
    height: inherit;
    /*border-collapse: collapse;*/
}
/* Banner */
#top-banner{
    background-color: grey;
    padding-top: 4%;
    width: 100%;
}
/* Top text */
#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-top: 1%;
}

/* Calender and team members */
#calender{
    display: flex;
    height: 35%;
    width: 90%;
    background-color: gainsboro;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;


}

}
#calender-line{
    background-color: black;
   
}

#list-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
    margin-bottom: 30px;

}
p{
    
    word-wrap: break-word;
}

.common-listbox-prop{
    display: flex;
    height: 100%;
    width: 47%;
    overflow: scroll;
    justify-content: space-around;
}
.common-list-prop > .task-p-class {
    flex-shrink: 0;
}

.common-list-prop{
    display: flex;
    height: 100%;
    width: 80%;
    
    overflow: scroll;
    font-family: 'Montserrat', sans-serif;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
}

#to-do-list{
    background-color:#FFB7B2;
}

#to-do-list-tasks > .task-p-class{
    display: inline;
    width: 90%;
    height: 20%;
    margin-top: 10px;
    margin-left: 10px;
    
}

#to-do-list button{
    width: 20%;
    height: 10%;
    margin-right: 6%;
    background-color: #FFB7B2;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-align: end;

}


/* Project members green */
#project-members{
    background-color:#E2F0CB;
}

#project-members-memb{
    background-color: #E2F0CB;

}
#project-members-memb > div{
    padding: 10px;
    
}
th {
    flex-shrink: 10;
    min-width: 100px;
}
#project-members-memb > div > p {
    color: black;
}
#project-members button{
    width: 20%;
    height: 10%;
    margin-right: 3%;
    text-align: end;
    background-color: #E2F0CB;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Modal Section */


form label, p {
    color: white;
}

/* Modal that adds new tasks*/
#addTodoModal{
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

/* Modal that adds new member*/
#add-participant-modal{
    display: none;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

/* Modal content design of both*/
.modal-content-design{
    background-color: white;
    width: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.modal-content-design p{
    margin-left: 90%;
    margin-top: 3%;
    color: black;
    cursor: pointer;
}

.modal-content-design form{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
   
}

.modal-content-design label{
    color: black;
    font-size: 25px;
    margin: 0px;
}

#submit-btn{
    width: 50%;
    height: 15%;
    background-color: rosybrown;
    margin-top: 40px;
    cursor: pointer;
}

#submit-member-btn{
    width: 50%;
    height: 15%;
    background-color: rosybrown;
    cursor: pointer;
}

#task-modal-input{
    border: 1px solid black;
    height: 30px;
    cursor: text;
    margin-bottom: 10px;
}

#modal-participant-content input{
    border: 1px solid black;
   height: 22px;
    cursor: text;
}

#modal-participant-content label{
    color: black;
    font-size: 15px;
    margin: 0px; 
}




/* Color indicators and importance level */
.less-important-radio {
    background-color: #E2F0CB;
}
.important-radio {
    background-color: #fffcbb;
}
.very-important-radio {
    background-color:#FFB7B2;
}
.radio-div {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#colors{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
  
}

#importance-lvl{
    height: 11%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
   
}

#color-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 70%;
}

#color-txt-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 100px;
    flex-direction: column;
    height: 70%;
}

#color-txt-box p{
    font-family: 'Montserrat', sans-serif;
}
.importance-color{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}



.level-of-important{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Very important */
#very-important-color{
    background-color: #FFB7B2;
}
#very-important-txt{
    font-family: monospace;
    color:black;
    
}

/* Important */
#important-color{
    background-color: #fffcbb;
}
#important-txt{
    font-family: monospace;
    color:black;
}

/* Less important */
#less-important-color{
    background-color: #E2F0CB;
}
#less-important-txt{
    font-family: monospace;
    color:black;
}
/* Task Section */
.task-p-class {
  
    width: 30%;
    height: 100%;
    border: 1px solid grey;
    
    text-align: center;
    border-radius: 25px;
}
th .task-p-class {
    border-radius: 0px;
    margin: 0;
}

#days-header th {
    /*width: auto;*/
    height: 100%;
    /*border: 1px solid black;*/
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.test{
    width: inherit;
    height: inherit;
    flex: 1;
    /*border-collapse: collapse;*/
}


#calender-table {
    /*border-collapse: collapse;*/
    table-layout: fixed;
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    
    overflow-x: scroll;
}


#calender-table > tbody:nth-child(n+2){
    flex:1;
}
#calender-table > #calender-table:nth-child(1) {
    height: 160px;
    background-color: red;
}
.calender-name-container{
    display: flex;
}
.calender-name-container th {
    flex:1;
    
}

.firstTBody{
    display: flex;
    background-color: red;
    height: 20%;
    /*border-collapse: collapse;*/
}
.name-column {
    width: 100px;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    
}
.calender-name-container > .name-column {
    flex: none;
}
#days-header{
    display: flex;
    height: 100%;
    width: 100%;
    
}

tbody{
    height: 100%;
    width: 100%;
    /*flex: 1;*/
}   



@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    #to-do-list button{
        font-size: 20px;
    }
    
    #project-members button{
        font-size: 20px;
    }
    
    /* Makes modals stack like columns */
    #list-flexbox{
        display: flex;
        flex-direction: column;
    }
    .common-listbox-prop{
        height: 55%;
        width: 90%;
        margin: 2%;
    }
    
    /* modal todo content */
    
    #modal-todo-content{
        width: 90%;
    }
    #submit-task-btn{
        height: 10%;
        width: 20%;
        font-size: 30px;
        margin-top: 10%;
    }
    .radio-div{
        height: 50px;
        width: 50px;
    }
    #colors{
        margin-top: 5%;
    }
    
    #task-modal-input{
        width: 40%;
        font-size: 35px;
    }
    
    /* Participent modal */
    
    #modal-participant-content{
        width: 90%;
    }
    #submit-member-btn{
        font-size: 40px;
        margin-top: 5%;
    }
    input{
        width: 40%;
        height: 20%;
        font-size: 35px;
    }

    form{
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
}
