*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
    
   
}

/* Main container */
#container {
    background-color: #EBEBEB;
    height: 65%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
#top-banner{
    
    background-color: grey;
    width: 100%;
    padding-bottom: 4%;
}

#toptext{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
   
}

#open-modal-btn{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-left: 9%;
   
}

#projects-container{
    display: flex;
    width: 100%;
    height: 100%;
    
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    
}

.div-common{
    width: 25%;
    height: 40%; 
    margin: 2%;
    border-radius: 15px;
}

.div-common p{
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.project{
    padding: 50px 10px 50px 10px;
    width: 450px;
    height: 100px;
    margin: 40px;
}



#new-project-section{
    background-color: #EBEBEB;
    display: flex;
    height: 40%;
    align-items: center;
    justify-content: flex-start;
}



#new-project-modal{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0,5s;
    
}



#modal-content{
    background-color: white;
    width: 20%;
    height: 20%;
    padding-bottom: 2%;
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

#modal-content p{
    margin-left: 80%;
}
#modal-content p:hover{
    cursor: pointer;
}
#modal-content button{
    margin-top: 4%;
    height: 20%;
    width: 40%;
    
    background-color: grey;
}

#modal-content button:hover{
    border: 4px black dotted;
    cursor: pointer;
}

.modal-input{
    padding: 0.5em;
    border: black solid 0.5px;
}

.modal-input:hover{
    background-color:#F2F2F2;
    cursor: text;
    
}



