/* Main container */
#container {
    margin: 0px;
    padding: 0px;
    height: 900px;
    width: 1600px;
    background-color: #E8E8E8;
    position: relative;
}

/* Header */
#top-banner{
    height: 80px;
    width: 1600px;
    background-color: #D0D0D0;
}
h1{
    margin-left: 640px;;
    font-size: 50px;
}

/* Button for adding assignment */
#add-assignment{
    left: 100px;
    bottom: 80px;
}
.circle{
    width: 90px;
    height: 90px;
    position: absolute;
    border: 10px solid #03a9fc;
    border-radius: 50%;
    bottom: 150px;
    left: 380px;
    position: absolute;
}
.circle::before {
    content: "+";
    height: 40px;
    width: 40px;
    font-size: 80px;
    left: 22px;
    bottom: 54px;
    font-weight: bold;
    font-family: courier;
    color: white;
    position: absolute;
}
#new-project-h2{
    position: absolute;
    padding: 0px;
    margin: 0px;
    bottom: 125px;
    left: 230px;
}
